.header {
    background-color: #609a76;
    z-index: 10;
    position: fixed;
    width: 100%;
}
.sendEmail {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    position: relative;
}
.delete_form {
    border: none;
}
input, select {
    margin-bottom: 5px;
}
#previous, #pageNumbers, #next, #pageInfo, .ru, .by, .en, .main_page, .nameMessage {
    display: inline-block;
}
.main, .messageDiv {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    position: relative;
    /*float: left;*/
}
.mainBody, .create_contact_body, .sendEmailBody, .searchBody, .errorBody, .messagesBody {
    background-color: #f0f0f0;
}
.mainPagePagination, .messagePagePagination {
    display: inline;
    padding-bottom: 3%;
}
.main_page {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin-left: 5%;
    /*padding: 1% 1% 1% 1%;*/
}
.messages:hover, .createContact:hover, .search:hover, .by:hover, .ru:hover, .en:hover {
    background-color: #000000;
}
.messages, .createContact, .search, .en, .ru, .by {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 1% 1% 1% 1%;
}
.alertMessage {
    position: fixed;
    top: 2.4%;
    left: 75%;
    cursor: pointer;
    display: inline-block;
}
.en {
    position: fixed;
    left: 86%;
}
.ru {
    position: fixed;
    left: 89.5%;
}
.by {
    position: fixed;
    left: 93%;
}
.phonePopupText.show {
    visibility: visible;
}
.contact_form.roll {
    opacity: 0.3;
    pointer-events: none;
}
.phoneInfo {
    width: 75%;
}
.attachmentInfo {
    width: 75%;
}
.alertMessageText {
    font-size: 14px;
    box-shadow: 2px 2px 10px 4px grey;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    left: 66%;
    top: 5.9%;
    height: 20%;
    width: 20%;
    z-index: 11;
    border: 20px solid transparent;
    text-align: center;
}

.alertMessageArrow {
    visibility: hidden;
    left: 75.7%;
    top: 5.1%;
    z-index: 12;
    content: " ";
    position: fixed;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}
.attachmentPopupText, .photoPopupText, .phonePopupText {
    box-shadow: 2px 2px 10px 4px grey;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 20%;
    height: 60%;
    bottom: 25%;
    left: 25%;
    width: 50%;
    border: outset 3px;
    z-index: 1;
}
.attachmentPopupText.show, .photoPopupText.show, .alertMessageText.show {
    visibility: visible;
}
.alertMessageText.show, .alertMessageArrow.show {
    visibility: visible;
    animation: fadein 1s;
    -webkit-animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.attachmentTitle {
    text-align: right;
}
.create_contact_body label, .sendEmailBody label {
    color: #8f8f8f;
}
.contactTitle {
    left: 15%;
    width: 70%;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-bottom: 4%;
    font-size: 33px;
    font-weight: 700;
    color: #0099c5;
    margin-top: 2%;
}
.createContactTitle {
    margin-top: 1%;
    color: #0099c5;
    text-align: center;
    padding-bottom: 3%;
    font-weight: 700;
    font-size: 33px;
}
.generalInfo, .addressInfo, .photoInfo, .phonesInfo, .attachmentsInfo {
    color: #0099c5;
}
.edit {
    cursor: hand;
    padding-top: 2%;
    float: right;
    display: inline-block;
}

.contact_form, .searchForm {
    background-color: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    border: solid 1px #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
    top: 14%;
    left: 18%;
    width: 64%;
    margin-bottom: 2%;
    padding-top: 1%;
}
#full-name>input, #secondLine>input, #thirdLine>input, #full-name>.nameMessage, #secondLine>.nameMessage, #thirdLine>.nameMessage, #fourthLine>.nameMessage,
#fifthLine>input, #fifthLine>.nameMessage, #sixthLine>input, #sixthLine>.nameMessage, #secondLine>select, #thirdLine>select, #fourthLine>select, .genderError input,
#emailLine>.nameMessage {
    display: inline-block;
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
}
.nameMessage {
    min-height: 15px;
    font-style: italic;
    color: #A94442;
}
.photoMessage {
    display: inline-block;
    font-style: italic;
}
#secondLine, #thirdLine, #fourthLine, #sixthLine {
    padding-top: 1.5%;
}
.thirdLine select.form-control option {
    color: #555;
}
.thirdLine select.form-control {
    color: #999;
}
.secondLine select.form-control option {
    color: #555;
}
.secondLine select.form-control {
    color: #999;
}
.phoneTable, .attachmentTable {
    table-layout: fixed;
    width: 133%;
}
.phoneCheckbox, .attachmentCheckbox {
    width: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneCountryCode {
    color: #808080;
    width: 11%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneOperatorCode {
    color: #808080;
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;

}
.phoneNumber {
    color: #808080;
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneType {
    color: #808080;
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneComment {
    color: #808080;
    width: 36%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentName {
    color: #808080;
    width: 30%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentComment {
    color: #808080;
    width: 42%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentDate {
    color: #808080;
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
#phoneRows>td {
    border-bottom: 1px solid #ddd;
}
.phoneImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.fileImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.phoneForm {
    position: fixed;
    left: 43%;
    top: 21%;
    width: 20%;
}
.attachmentForm {
    position: fixed;
    left: 43%;
    top: 31%;
    width: 20%;
}
.photoForm {
    position: fixed;
    left: 33%;
    top: 30%;
    width: 50%;
}
.photoRestriction {
    margin-bottom: 3%;
    width: 68%;
    text-align: center;
}
.attachmentRestriction {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.photoPathMessage {
    min-height: 20px;
    color: #A94442;
    font-style: italic;
}
.phoneTitle {
    text-align: right;
}
#phone_buttons input {
    width: 50%;
}
.attachments_buttons {
    padding-top: 20%;
    padding-left: 5%;
}
.photo_buttons {
    padding-top: 18%;
    width: 68%;
    text-align: center;
}
.photo_buttons>button {
    display: inline-block;
}
.gender, .maritalStatus {
    color: #999;
}
.emailSubmit, .deleteButton, .emailButton, .createButton, .editButton, .bigEditButton, .searchButton, .bigCreateButton, .chooseButton {
    background-color: #ce9842;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: auto;
    padding: 8px 16px;
}
.emailSubmit {
    margin-top: 2%;
}
.editButton {
    margin-left: 0.6%;
}
.searchButton {
    margin-top: 3%;
    width: auto;
}
.searchButton:hover, .emailButton:hover, .deleteButton:hover, .emailSubmit:hover, .createButton:hover, .editButton:hover, .bigCreateButton:hover, .chooseButton:hover,
.bigEditButton:hover {
    box-shadow: 1px 1px 1px 1px grey;
}
.searchButtonDiv {
    text-align: center;
}
.bigEditButtonDiv {
    padding-top: 2%;
    text-align: center;
    visibility: hidden;
}
.bigCreateButtonDiv {
    padding-top: 2%;
    text-align: center;
}
.emailButton {
    margin-left: 0.6%;
}
.deleteButton {
    margin-left: 0.6%;
    width: auto;
}
.chooseButton {
    width: auto;
}
.mainCheckbox {
    margin-left: 0.8%;
    display: inline;
}
.bookImage {
    display: inline;
    float: left;
}
.photo {
    pointer-events: none;
    display: inline-block;
    width: 31%;
    height: 40%;
}
.photoImage {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.defaultImage {
    height: 100%;
    width: 100%;
}
.fullName, .secondCol {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
}
#fullName>input, #secondCol>input, #secondCol>select {
    width: 100%;
    margin-bottom: 3%;
}
#fourthLine>input, #emailLine>input {
    width: 98%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
}
.marStatus, .countryDiv, .houseNumberDiv {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
.groupDiv, .employDiv, .cityDiv, .streetDiv, .flatNumberDiv, .postcodeDiv {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
#marStatus>select, #websiteDiv>input, #emailDiv>input, #employDiv>input, #groupDiv>select, #countryDiv>input, #cityDiv>input, #streetDiv>input, #houseNumberDiv>input,
#flatNumberDiv>input, #postcodeDiv>input {
    width: 100%;
}
.emailDiv, .websiteDiv{
    width: 100%;
    display: inline-block;
}
.phoneButtons, .attachmentButtons {
    visibility: hidden;
    margin-bottom: 3%;
    width: 100%;
}
.phonePopup, .attachmentPopup {
    margin-bottom: 3%;
    width: 100%;
}
.phoneTd, .attachmentTd {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ddd;
}
.phoneTd input, .attachmentTd input {
    border: none;
    width: 100%;
}
.phoneCheckboxTd, .attachmentCheckboxTd {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ddd;
    visibility: hidden;
}
#photoForm>input {
    display: inline-block;
}
.photoPath {
    display: inline-block;
    border: solid 1px;
    width: 60%;
    height: 35px;
    vertical-align: top;
    text-align: left;
    padding-top: 5px;
}
.phoneMessage, .attachmentMessage {
    color: #A94442;
    font-style: italic;
    min-height: 20px;
}
.addAttachmentMessage {
    color: #A94442;
    font-style: italic;
    min-height: 20px;
}
.error {
    padding-top: 20%;
    text-align: center;
}
.main table {
    background-color: #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
}
.messageDiv table {
    margin-top: 2%;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
}
.messageCheckTh {
    width: 3%;
}
.recipientTh {
    font-family: sans-serif;
    width: 20%;
}
.messageTh {
    font-family: sans-serif;
    width: 62%;
}
.dateTh {
    font-family: sans-serif;
    width: 15%;
}
.messageRow {
    cursor: pointer;
}
.th {
    text-align: center;
    font-family: sans-serif;
}
.selectHead {
    color: #ccc;
}
.messageInfo {
    display: inline-block;
}
.warningImage, .successImage {
    vertical-align: bottom;
    display: inline-block;
}
