.header {
    background-color: #609a76;
    z-index: 10;
    position: fixed;
    width: 100%;
}
.sendEmail {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    position: relative;
}
.delete_form {
    border: none;
}
input {
    margin-bottom: 5px;
}
#previous, #pageNumbers, #next, #pageInfo, .ru, .by, .en, .main_page, .nameMessage {
    display: inline-block;
}
.main, .messageDiv {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    position: relative;
    /*float: left;*/
}
.mainBody, .create_contact_body, .sendEmailBody, .searchBody, .errorBody, .messagesBody {
    background-color: #f0f0f0;
}
.mainPagePagination, .messagePagePagination {
    display: inline;
}
.main_page {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 5%;
    padding: 1% 1% 1% 1%;
}
.main_page:hover, .messages:hover, .createContact:hover, .search:hover, .en:hover, .ru:hover, .by:hover {
    background-color: #000000;
}
.messages, .createContact, .search, .en, .ru, .by {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 1% 1% 1% 1%;
}
.alertMessage {
    position: fixed;
    top: 2.4%;
    left: 75%;
    cursor: pointer;
    display: inline-block;
}
.en {
    position: fixed;
    left: 87.5%;
}
.ru {
    position: fixed;
    left: 91%;
}
.by {
    position: fixed;
    left: 94.5%;
}
.phonePopupText.show {
    visibility: visible;
}
.contact_form.roll {
    opacity: 0.3;
    pointer-events: none;
}
.phonePopup {
    text-align: right;
}
.phoneInfo {
    width: 75%;
}
.attachmentInfo {
    width: 75%;
}
.alertMessageText {
    font-size: 14px;
    box-shadow: 2px 2px 10px 4px grey;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    left: 66%;
    top: 5.9%;
    height: 20%;
    width: 20%;
    z-index: 11;
    border: 20px solid transparent;
    text-align: center;
}

.alertMessageArrow {
    visibility: hidden;
    left: 75.7%;
    top: 5.1%;
    z-index: 12;
    content: " ";
    position: fixed;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}
.attachmentPopupText, .photoPopupText, .phonePopupText {
    box-shadow: 2px 2px 10px 4px grey;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 20%;
    height: 60%;
    bottom: 25%;
    left: 25%;
    width: 50%;
    border: outset 3px;
    z-index: 1;
}
.attachmentPopupText.show, .photoPopupText.show, .alertMessageText.show {
    visibility: visible;
}
.alertMessageText.show, .alertMessageArrow.show {
    visibility: visible;
    animation: fadein 1s;
    -webkit-animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.attachmentTitle {
    text-align: right;
}
.contactTitle {
    padding-left: 38%;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-bottom: 3%;
}
.generalInfo {
}
.edit {
    cursor: hand;
    padding-top: 2%;
    float: right;
    display: inline-block;
}
.contact_form, .searchForm {
    background-color: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    border: solid 1px #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
    top: 15%;
    left: 18%;
    width: 64%;
    margin-bottom: 2%;
}
#full-name>input, #secondLine>input, #thirdLine>input, #full-name>.nameMessage, #secondLine>.nameMessage, #thirdLine>.nameMessage, #fourthLine>.nameMessage,
#fifthLine>input, #fifthLine>.nameMessage, #sixthLine>input, #sixthLine>.nameMessage, #secondLine>select, #thirdLine>select, #fourthLine>select, .genderError input {
    display: inline-block;
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
}
.nameMessage {
    color: #A94442;
}
#secondLine, #thirdLine, #fourthLine, #sixthLine {
    padding-top: 1.5%;
}
.phoneTable, .attachmentTable {
    table-layout: fixed;
    width: 133%;
}
.phoneCheckbox, .attachmentCheckbox {
    width: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneCountryCode {
    width: 11%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneOperatorCode {
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;

}
.phoneNumber {
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneType {
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneComment {
    width: 36%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentName {
    width: 30%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentComment {
    width: 42%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentDate {
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
#phoneRows>td {
    border-bottom: 1px solid #ddd;
}
.phoneImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.fileImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.phoneForm {
    position: fixed;
    left: 43%;
    top: 20%;
}
.attachmentForm {
    position: fixed;
    left: 43%;
    top: 31%;
}
.photoForm {
    position: fixed;
    left: 38%;
    top: 31%;
    width: 50%;
}
#phonePopup input, #phonePopup select {
    width: 180%;
    /*margin-bottom: 7%;*/
}
.phoneTitle {
    text-align: right;
}
#countryCodeMessage, #operatorCodeMessage, #numberMessage, #typeMessage, #commentMessage {
    margin-top: 10%;
    margin-bottom: 3%;
    line-height: 8%;
}
#phone_buttons input {
    width: 50%;
}
#attachmentMessage, #attachCommentMessage, #attachTitleMessage {
    padding-top: 10%;
}
.attachments_buttons {
    padding-top: 20%;
    padding-left: 5%;
}
.photo_buttons {
    padding-top: 27%;
    padding-left: 10%;
}
.photo_buttons>button {
    display: inline-block;
}
#attachmentPopup input {
    width: 120%;
}
.gender, .maritalStatus {
    color: #999;
}
.emailSubmit, .deleteButton, .emailButton, .createButton, .editButton, .bigEditButton, .searchButton, .bigCreateButton, .chooseButton {
    background-color: #ce9842;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: auto;
    padding: 8px 16px;
}
.searchButton {
    margin-top: 3%;
    width: auto;
}
.searchButton:hover, .emailButton:hover, .deleteButton:hover {
    box-shadow: 1px 1px 1px 1px grey;
}
.searchButtonDiv {
    text-align: center;
}
.bigEditButton {
    width: 100%;
    visibility: hidden;
}
.bigCreateButton {
    width: 100%;
}
.emailButton {
    margin-left: 0.6%;
}
.deleteButton {
    margin-left: 0.6%;
    width: auto;
}
.chooseButton {
    width: auto;
}
.mainCheckbox {
    margin-left: 0.8%;
    display: inline;
}
.bookImage {
    display: inline;
    position: fixed;
    top: 9%;
    left: 90.7%;
}
.photo {
    pointer-events: none;
    display: inline-block;
    width: 31%;
    height: 40%;
}
.photoImage {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.defaultImage {
    height: 100%;
    width: 100%;
}
.fullName, .secondCol {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
}
#fullName>input, #secondCol>input, #secondCol>select {
    width: 100%;
    margin-bottom: 3%;
}
#fourthLine>input, #emailLine>input {
    width: 98%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
}
.marStatus, .countryDiv, .houseNumberDiv {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
.groupDiv, .employDiv, .cityDiv, .streetDiv, .flatNumberDiv, .postcodeDiv {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
#marStatus>select, #websiteDiv>input, #emailDiv>input, #employDiv>input, #groupDiv>select, #countryDiv>input, #cityDiv>input, #streetDiv>input, #houseNumberDiv>input,
#flatNumberDiv>input, #postcodeDiv>input {
    width: 100%;
}
.emailDiv, .websiteDiv{
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}
.phoneButtons, .attachmentButtons {
    visibility: hidden;
}
.phoneTd, .attachmentTd {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ddd;
}
.phoneTd input, .attachmentTd input {
    border: none;
    width: 100%;
}
.phoneCheckboxTd, .attachmentCheckboxTd {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ddd;
    visibility: hidden;
}
.photoPath {
    border: none;
}
#photoForm>input {
    display: inline-block;
}
.photoPath {
    display: inline-block;
}
.phoneMessage, .attachmentMessage {
    text-align: left;
    color: #A94442;
}
.error {
    padding-top: 20%;
    text-align: center;
}
.main table {
    background-color: #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
}
.messageDiv table {
    margin-top: 2%;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px 2px grey;
}
.messageCheckTh {
    width: 2%;
}
.recipientTh {
    width: 20%;
}
.messageTh {
    width: 63%;
}
.dateTh {
    width: 15%;
}
.messageRow {
    cursor: pointer;
}