.header {
    background-color: #609a76;
    z-index: 10;
    position: fixed;
    width: 100%;
    opacity: 1;
}
.sendEmail {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    position: relative;
}
.delete_form {
    border: none;
}
input {
    margin-bottom: 5px;
}
#previous, #pageNumbers, #next, #pageInfo, .ru, .by, .en, .main_page, .nameMessage {
    display: inline-block;
}
.main {
    padding-left: 3%;
    padding-top: 5%;
    position: relative;
}
.mainBody, .create_contact_body, .sendEmailBody {
    background-color: #f0f0f0;
}
.mainPagePagination {
    display: inline;
}
.main_page {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 5%;
    padding: 1% 1% 1% 1%;
}
.main_page:hover, .messages:hover, .createContact:hover, .search:hover, .en:hover, .ru:hover, .by:hover {
    background-color: #000000;
}
.messages, .createContact, .search, .en, .ru, .by {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 1% 1% 1% 1%;
}
.en {
    position: fixed;
    left: 87.5%;
}
.ru {
    position: fixed;
    left: 91%;
}
.by {
    position: fixed;
    left: 94.5%;
}
.phonePopupText {
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 20%;
    height: 60%;
    bottom: 25%;
    left: 25%;
    width: 50%;
    border: outset 3px;
    z-index: 1;
}
.phonePopupText.show {
    visibility: visible;
}
.contact_form.roll {
    opacity: 0.3;
    pointer-events: none;
}
.phoneTitle {
    text-align: right;
}
.phoneInfo {
    width: 75%;
}
.attachmentInfo {
    width: 75%;
}
.attachmentPopupText {
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 20%;
    height: 60%;
    bottom: 25%;
    left: 25%;
    width: 50%;
    border: outset 3px;
    z-index: 1;
}
.attachmentPopupText.show {
    visibility: visible;
}
.attachmentTitle {
    text-align: right;
}
.contactTitle {
    padding-left: 38%;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-bottom: 3%;
}
.generalInfo {
}
.contact_form {
    background-color: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    border: solid 1px;
    border-radius: 8px;
    top: 10%;
    left: 18%;
    width: 64%;
}
#full-name>input, #secondLine>input, #thirdLine>input, #fourthLine>input, #full-name>.nameMessage, #secondLine>.nameMessage, #thirdLine>.nameMessage, #fourthLine>.nameMessage,
#fifthLine>input, #fifthLine>.nameMessage, #sixthLine>input, #sixthLine>.nameMessage, #secondLine>select, #thirdLine>select, #fourthLine>select {
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
}
#secondLine, #thirdLine, #fourthLine, #sixthLine {
    padding-top: 1.5%;
}
.phoneTable, .attachmentTable {
    table-layout: fixed;
    width: 133%;
}
.phoneCheckbox, .attachmentCheckbox {
    width: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneCountryCode {
    width: 11%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneOperatorCode {
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;

}
.phoneNumber {
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneType {
    width: 12%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.phoneComment {
    width: 36%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentFile {
    width: 30%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentComment {
    width: 42%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
.attachmentDate {
    width: 25%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
}
#phoneRows>td {
    border-bottom: 1px solid #ddd;
}
.phoneImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.fileImage {
    position: fixed;
    text-align: left;
    left: 27%;
    top: 36%;
}
.phoneForm {
    position: fixed;
    left: 43%;
    top: 20%;
}
.attachmentForm {
    position: fixed;
    left: 43%;
    top: 35%;
}
#phonePopup input, #phonePopup select {
    width: 180%;
}
#countryCodeMessage, #operatorCodeMessage, #numberMessage, #typeMessage, #commentMessage {
    padding-top: 14%;
}
#phone_buttons input {
    width: 50%;
}
#attachmentMessage, #attachCommentMessage {
    padding-top: 10%;
}
.attachments_buttons {
    padding-top: 35%;
}
#attachmentPopup input {
    width: 120%;
}
.gender, .maritalStatus {
    color: #999;
}
.emailSubmit, .deleteButton, .emailButton, .createButton, .editButton, .bigEditButton {
    opacity: 1;
    background-color: #ce9842;
    color: #ffffff;
    border: none;
    border-radius: 4%;
    padding: 1%;
}
.bigEditButton {
    width: 100%;
    visibility: hidden;
}
.emailButton {
    margin-left: 0.6%;
}
.deleteButton {
    margin-left: 0.6%;
    width: auto;
}
.mainCheckbox {
    margin-left: 0.8%;
    display: inline;
}
.bookImage {
    display: inline;
    position: fixed;
    top: 9%;
    left: 90.7%;
}
.photo {
    display: inline-block;
    width: 31%;
    height: 40%;

}
.photoImage {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
.defaultImage {
    height: 70%;
    width: 70%;
}
.fullName, .secondCol {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
}
#fullName>input, #secondCol>input, #secondCol>select {
    width: 100%;
    margin-bottom: 3%;
}
.marStatus, .countryDiv, .houseNumberDiv {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
.groupDiv, .employDiv, .cityDiv, .streetDiv, .flatNumberDiv, .postcodeDiv {
    width: 31%;
    margin-left: 3%;
    display: inline-block;
    vertical-align: top;
    padding-top: 3%;
}
#marStatus>select, #websiteDiv>input, #emailDiv>input, #employDiv>input, #groupDiv>select, #countryDiv>input, #cityDiv>input, #streetDiv>input, #houseNumberDiv>input,
#flatNumberDiv>input, #postcodeDiv>input {
    width: 100%;
    margin-bottom: 3%;
}
.emailDiv, .websiteDiv{
    width: 100%;
}
.edit {
    cursor: hand;
    padding-top: 2%;
    float: right;
    display: inline-block;
}
.phoneButtons, .attachmentButtons {
    visibility: hidden;
}
.phoneTd, .attachmentTd {
    padding: 1% 0 1% 0;
}
.phoneTd input, .attachmentTd input {
    border: none;
    width: 100%;
}
.phoneCheckboxTd, .attachmentCheckboxTd {
    padding: 1% 0 1% 0;
    visibility: hidden;
}