a:active, a:visited {
    text-decoration: none;
    color: #ffffff;
}
a[tabindex]:hover {
    color: #ffffff;
    text-decoration: none;
}
.header {
    background-color: #609a76;
}
.delete_form {
    border: none;
}
input {
    margin-bottom: 5px;
}
#previous, #pageNumbers, #next, #pageInfo, .ru, .by, .en, .main_page, .language {
    display: inline-block;
}
.main {
    padding-top: 2%;
    padding-left: 3%;
}
.mainBody {
    background-color: #f0f0f0;
}
.mainPagePagination {
    display: inline;
}
.main_page {
    display: inline-block;
    margin: 0 0 0 5%;
    padding: 1% 1% 1% 1%;
}
.main_page:hover, .messages:hover, .createContact:hover, .search:hover {
    background-color: #000000;
}
.messages, .createContact, .search {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 1% 1% 1% 1%;
}
.en, .ru, .by {
    margin-left: 2%;
    margin-right: 2%;
}


.language {
    text-align: center;
    padding: 1% 1% 1% 1%;
    margin: 0;
    position: absolute;
    width: 15%;
    left: 80%;
    right: 5%;
}
.phonePopupText {
    visibility: hidden;
    position: absolute;
    left: 80%;
    right: 5%;
    border: outset 3px;
    height: 25%;
    width: 18%;
    text-align: center;
}
.phonePopupText.show {
    visibility: visible;
}
.phoneTitle {
    text-align: right;
}
.phoneInfo {
    width: 75%;
}
.attachmentInfo {
    width: 75%;
}
.attachmentPopupText {
    visibility: hidden;
    position: absolute;
    left: 80%;
    right: 5%;
    border: outset 3px;
    height: 25%;
    width: 18%;
    text-align: center;
}
.attachmentPopupText.show {
    visibility: visible;
}
.attachmentTitle {
    text-align: right;
}