table, th, td {
    border: solid 1px;
    padding: 5px;
}
table {
    margin-top: 10px;
}
.delete_form {
    border: none;
}
input {
    margin-bottom: 5px;
}
#previous, #pageNumbers, #next, #pageInfo {
    display: inline;
}